body {
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

main {
    min-height: 65vh;
}

.navbar {
    background-color: rgb(250, 250, 250);
    padding: 0px 30px;
    font-family: 'Oswald', sans-serif;
}


.caixa {
    width: 100%;
    border-bottom: 1px solid rgb(160, 158, 158);
}

a img{
    width: 50px;   
}

form .form-control {
    width: 20vw;
}

.cadastro a {
    text-decoration: none;
    color: rgb(64, 64, 64);
    font-weight: 700;
}

.cadastro a img {
    width: 40px;
}

.pesquisa {
    gap: 10px;
    display: flex;
}

li{    
    margin: 15px 20px;     
} 

.navbar-dark .navbar-nav .nav-link {
    color: rgb(64, 64, 64) !important;
    text-decoration: none;  
    font-weight: 700 !important; 
}


element.style {
}
.navbar-dark .navbar-toggler {

}

.btn, #buscar {
    border-color: #dbb4ad;
    background-color: #dbb4ad;
    color: #fff;
}
.btn:hover {
    border-color: #dbb4ad;
    background-color: #dbb4ad;
    color: #fff;
}

.nav-link {
    padding: 0;
}

.input-group-text{
    border-color: #dbb4ad;
    background-color: #dbb4ad;
    color: #fff;
}

button.navbar-toggler {
    background-color: #d30c7b !important;   
}

@media (max-width: 768px) {
    .pesquisa {
        display: none !important;
    }
}