body {
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

main {
    min-height: 65vh;
}

.navbar {
    background-color: rgb(250, 250, 250);
    padding: 0px 30px;
    font-family: 'Oswald', sans-serif;
}

.caixa {
    width: 100%;
    border-bottom: 1px solid rgb(160, 158, 158);
}

h1 img{
    width: 50px;   
}

form .form-control {
    width: 20vw;
}

.cadastro a {
    text-decoration: none;
    color: rgb(64, 64, 64);
    font-weight: 700;
}

.cadastro a img {
    width: 40px;
}

.menu {
    width: 100%;
}

.nav-link {
    color: currentColor;
}

.pesquisa {
    gap: 10px;
}

li{
    list-style: none;
    margin: 15px;     
}

li a {
    color: rgb(64, 64, 64);
    text-decoration: none;  
    font-weight: 700; 
}

.btn {
    border-color: #dbb4ad;
    background-color: #dbb4ad;
    color: #fff;
}
.btn:hover {
    border-color: #dbb4ad;
    background-color: #dbb4ad;
    color: #fff;
}

.nav-link {
    padding: 0;
}

