#jumbotron {
    background-color: #DBB4AD;
}

#jumbotronResumo {
<<<<<<< HEAD
    background-color: #FFE3DC;
}

#btn1 {
    background-color: #FFE3DC;
    width: 100px;
}

#btn2 {
    background-color: #FFE3DC;
}
img.img-thumbnail {
    width: 200px;
    height: 200px;
}

#cor {
    background-color: #FFE3DC;
}
@media screen and (max-widht: 1500px){
    #txtNome{
        width: 100%;
    }

    #container {
        width: 100%;
    }
}
=======
    background-color: #FFE3DC;
}

#btn1 {
    background-color: #FFE3DC;
    width: 100px;
}

.msg {
    min-width: 1500px !important;
}

@media screen and (max-widht: 780px){
    #txtNome{
        width: 100%;
    }
}
>>>>>>> 3b036b6826706087477246d0486f797e3beab6a6
