#jumbotron {
    background-color: #DBB4AD;
}

#jumbotronResumo {
    background-color: #FFE3DC;
}

#btn1 {
    background-color: #FFE3DC;
    width: 100px;
}

.msg {
    min-width: 1500px !important;
}

@media screen and (max-widht: 780px){
    #txtNome{
        width: 100%;
    }
}
